@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    color: white;  

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 0;
}

.top-body{
    background-color: #1F2937;
    color: white;  

    display: flex;
    justify-content: center;
    gap: 36px;
    padding: 100px 0;
}

.top-body-container{
    flex-basis: 450px;
}

.top-body-header{
    font-size: 48px;
    font-weight: 900;

    line-height: 1;
}

.top-body-subtext{
    font-size: 18px;
    font-weight: 300;
}

.image{
    background-color: grey;
    width: 525px;
    height: 240px;

    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color:  #3882F6;
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight: 900;
    width: 110px;
    height: 35px;
    margin-top: 12px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 16px;
}

.left-links{
    font-size: 24px;
    font-weight: 900;
}

.right-links{
    font-size: 18px;
    font-weight: 300;
}

.second-level{
    display: flex;
    flex-direction: column;
    margin: 36px 0 48px 0;
}

.box-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 36px;
}

.boxes-container{
    display: flex;
    justify-content: center;
    gap: 64px;
}

.text-box-container{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    width: 150px;
}

.box{
    outline: 3px solid #3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
}

.third-level{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;

    max-width: 800px;
    margin-top: 96px;
}
                        /*More responsive solutions*/
.quoter{
    text-align: right;
    font-size: 18px;
    font-weight: 900;
    
    width: 800px;
    text-align: right;
    margin-bottom: 96px;
}

.sign-up-ad{
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    color: white;
    margin: 96px;
    padding: 36px 48px;
    border-radius: 5px;
}

.ad-words{
    display: flex;
    flex-direction: column;
}

.ad-header{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 8px;
}

.ad-text{
    font-size: 16px;
    font-weight: 300;
}

#ad-button{
    outline: 2px solid white;
}

.footer{
    display: flex;
    color: white;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 24px;
}
